.wrapper {
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 48px;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0 1px 15px #0004;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.wrapper > :first-child {
  color: black;
}

.wrapper > :last-child {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  background-color: black;
  color: white;
  --element-height: 0px;
  --incline-difference: calc(var(--element-height) * var(--tan-angle));
  clip-path: polygon(
    0 0,
    0 0,
    calc(0px - var(--incline-difference)) 100%,
    calc(0px - var(--incline-difference)) 100%
  );
  transition: clip-path 250ms ease;
}

.wrapper:focus > :last-child,
.wrapper:hover > :last-child {
  clip-path: polygon(
    0 0,
    calc(100% + var(--incline-difference)) 0,
    100% 100%,
    0 100%
  );
}
