.wrapper {
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 1em 0;
}

.menuList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  padding: 0.5em 1em;
  border-radius: 999px;
  background-image: transparent;
  color: black;
  text-decoration: none;
  --transition-duration: 250ms;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease;
  transition-property: background-image, box-shadow;
  --element-width: 100%;
  --gradient-stop: calc(
    calc(var(--element-width) - 75px - 1em) * var(--cos-angle)
  );
}

.menuItem:focus,
.menuItem:hover,
.menuItemActive {
  background-image: linear-gradient(
    var(--gradient-angle),
    white,
    white var(--gradient-stop),
    black var(--gradient-stop),
    black
  );
  box-shadow: 0 1px 15px #0004;
}

.menuItemNumbers {
  transition: color var(--transition-duration) ease;
}

.menuItem:focus > .menuItemNumbers,
.menuItem:hover > .menuItemNumbers,
.menuItemActive > .menuItemNumbers {
  color: white;
}
